@model Internship.ViewModels.LoginModel

@{
    ViewBag.Title = "Aanmelden";
    ViewBag.Active = "Aanmelden";
}

<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
            @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Aanmelden</h3>
                    </div>
                    <div class="panel-body">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "email", required = true, autofocus = true, placeholder = "E-mail" })
                        </div>
                        <p>
                            @Html.ValidationMessageFor(m => m.Email)
                        </p>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon">&#57395;</span></span>
                            @Html.PasswordFor(m => m.Passwd, new { @class = "form-control", type = "password", placeholder = "Wachtwoord" })
                        </div>
                        <span>
                            @Html.ValidationMessageFor(m => m.Passwd)
                        </span><br/>
                        <input type="submit" value="Aanmelden" class="btn btn-primary btn-block" />
                    </div>
                </div>
            }
    </div>
    <div class="col-lg-3">
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
