@model Internship.Models.Domain.ContactPersoon


        <div class="panel panel-success">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-user"></span> Contactpersoon : @Model.Naam @Model.Voornaam<br />
                @Model.Functie
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt><span class="glyphicon glyphicon-phone-alt"></span> Tel :</dt><dd> @Model.ContactTelNr</dd>
                    <dt><span class="glyphicon glyphicon-phone"></span>    GSM :</dt><dd> @Model.GsmNummer</dd>
                    <dt><span class="glyphicon glyphicon-envelope"></span>    E-mail :</dt><dd> @Model.ContactEmail</dd>
                </dl>
            </div>
            <div class="panel-footer"><span class="glyphicon glyphicon-thumbs-up"></span>    Deze contactpersoon werd toegevoegd</div>
        </div>

