@using Microsoft.Ajax.Utilities
@using Microsoft.AspNet.Identity
@using PagedList
@using PagedList.Mvc
@model IPagedList<Internship.Models.Domain.Opdracht>
<div class="container">
    @if (Model == null)
    {
        <p>Nog geen opdrachten?? Maak een nieuwe aan.</p>
    }
    else
    {
      foreach (var item in Model)
    {

             <div class="@item.Status.PanelClass">
                 <div class="panel-heading">
                     <h2 class="panel-title">@item.Title</h2>
                 </div>
                 <div class="panel-body">
                     <p>@item.Omschrijving</p>
                     Schooljaar :  @item.Schooljaar<br />
                     Specialisatie : @item.Specialisatie.Title
                 </div>
                 <div class=" panel-footer">
                     <div class="btn-group">
                         <div class="btn btn-primary">
                             @Html.ActionLink("Details", "OpdrachtDetail", new { id = item.Id })
                         </div>
                         @if (item.Status.Id != 3 || item.Status.Id != 4)
                         {
                             <div class="btn btn-primary">
                                 @Html.ActionLink("Verwijder","ToRemoveOpdracht",new {id = item.Id})
                             </div>
                             <div class="btn btn-primary">
                                 @Html.ActionLink("Pas aan","EditOpdracht",new {id = item.Id})
                             </div>
                         }
                     </div>
                 </div>
                 </div>
                 } 
    }
 
</div>
    
@Html.PagedListPager(Model, page =>Url.Action("Index",new
{
    id = User.Identity.GetUserId(),page
        
}))
    