@using System.Activities.Statements
@using Microsoft.AspNet.Identity
@model Internship.ViewModels.CreateOpdrachtViewModel

@{
    Layout = "_BedrijfLayout.cshtml";
    if (Model.Opdracht == null)
    {
        ViewBag.id = Model.BedrijfId;
    }
    else
    {
        ViewBag.id = Model.Opdracht.Id;
    }
}
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>addStageopdracht</title>
</head>
<body>
    <div>
        <h1>Creëer een nieuwe stage opdracht</h1>
    </div>
    
 
    

    @using (Html.BeginForm( new {id =ViewBag.id, @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>

            <div class="form-group">
                @Html.LabelFor(model => model.OpdrachtViewModel.Title, new { @class = "control-label col-md-2" })

                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.OpdrachtViewModel.Title, new { @class = "form-control", style = "width: 50%" })
                    @Html.ValidationMessageFor(model => model.OpdrachtViewModel.Title)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.OpdrachtViewModel.Schooljaar, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.OpdrachtViewModel.Schooljaar, Model.SchooljaarSelectList, new { @class = "form-control", style = "width: 50%" })
                    @Html.ValidationMessageFor(m => m.OpdrachtViewModel.Schooljaar)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.OpdrachtViewModel.AantalStudenten, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.OpdrachtViewModel.AantalStudenten, Model.AantalStudenten, new { @class = "form-control", style = "width: 50%" })
                    @Html.ValidationMessageFor(m => m.OpdrachtViewModel.AantalStudenten)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.OpdrachtViewModel.Omschrijving, new { @class = "control-label col-md-2" })

                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.OpdrachtViewModel.Omschrijving, new { @class = "form-control", style = "width: 50%" })
                    @Html.ValidationMessageFor(model => model.OpdrachtViewModel.Omschrijving)
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.OpdrachtViewModel.Specialisatie, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.OpdrachtViewModel.Specialisatie,
         Model.SpecialisatieList, new { @class = "form-control", style = "width: 50%" })
                    @Html.ValidationMessageFor(model => model.OpdrachtViewModel.Specialisatie)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.OpdrachtViewModel.Vaardigheden, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextAreaFor(m => m.OpdrachtViewModel.Vaardigheden, new { @class = "form-control", style = "width: 50%" })
                    @Html.ValidationMessageFor(m => m.OpdrachtViewModel.Vaardigheden)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.OpdrachtViewModel.Semesters, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.OpdrachtViewModel.Semesters,
                        Model.SemesterLijst, new { @class = "form-control", style = "width: 50%" })
                    @Html.ValidationMessageFor(model => model.OpdrachtViewModel.Semesters)
                </div>
            </div> 
            <div class="form-group">
                @Html.LabelFor(model => model.OpdrachtViewModel.IsBedrijfAdres, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.CheckBoxFor(model => model.OpdrachtViewModel.IsBedrijfAdres, new { @checked = true ,@class = "form-control", style = "width: 50%" })
                </div>
            </div>
            <p>Of registreer hier de plaats waar de stage zal doorgaan (dit kan later nog gewijzigd worden)</p>
            <div class="form-group">

                @Html.LabelFor(m => m.OpdrachtViewModel.Straat, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.EditorFor(m => m.OpdrachtViewModel.Straat, new { @class = "form-control", style = "width: 50%" })
                    @Html.ValidationMessageFor(m=>m.OpdrachtViewModel.Straat)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.OpdrachtViewModel.Nummer, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.EditorFor(m => m.OpdrachtViewModel.Nummer, new { @class = "form-control", style = "width: 100%" })
                    @Html.ValidationMessageFor(m=>m.OpdrachtViewModel.Nummer)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.OpdrachtViewModel.Gemeente, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.OpdrachtViewModel.Gemeente,
                        Model.Gemeenten, new { @class = "form-control", style = "width: 50%" })
                    @Html.ValidationMessageFor(model => model.OpdrachtViewModel.Gemeente)
                </div>
            </div> 
                
            <p>
                <div class="btn-group-sm">
                    <button name="button" value="submit" class="btn btn-default">Voeg toe</button>
                    <button name="button" value="contact" class="btn btn-default">Voeg contacten toe</button>
                </div>
            </p>

        </fieldset>
    }



</body>
</html>
